*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:
    radial-gradient(circle at top,
    #37ff00,
    #000000,
    #0dff00);

    color:rgb(255, 255, 255);
    min-height:100vh;
}

header{
    text-align:center;
    padding:50px 20px;
}

header h1{
    color:#39ff14;
    font-size:3rem;
    text-shadow:0 0 15px #39ff14;
}

header p{
    color:#ffffff;
    margin-top:10px;
}

nav{
    margin-top:25px;
}

nav a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    background:#ffffff;
    padding:10px 18px;
    border-radius:8px;
    margin:5px;
    display:inline-block;
    transition:.3s;
}

nav a:hover{
    background:#39ff14;
    color:rgb(255, 255, 255);
}

main{
    width:85%;
    max-width:1000px;
    margin:auto;
}

.card{
    background:rgb(255, 255, 255);
    backdrop-filter:blur(10px);

    border:1px solid rgb(255, 255, 255);

    padding:30px;
    border-radius:20px;

    margin-bottom:30px;

    box-shadow:
    0 8px 20px rgb(252, 252, 252);
}

.card h2{
    color:#57ff20;
    margin-bottom:20px;
}

.card p{
    line-height:1.8;
    color:#d5d8e6;
    margin-bottom:10px;
}

.estatisticas{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:30px;
}

.box{
    width:220px;
    min-height:180px;

    background:rgb(255, 255, 255);

    border-radius:15px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:20px;

    transition:.4s;
}

.box:hover{
    transform:translateY(-10px);
}

.box h3{
    color:#39ff14;
    font-size:2rem;
    margin-bottom:15px;
}

footer{
    text-align:center;
    padding:30px;
    color:#d0d8ff;
    margin-top:30px;
}

html{
    scroll-behavior:smooth;
}

@media(max-width:768px){

    header h1{
        font-size:2rem;
    }

    .estatisticas{
        flex-direction:column;
        align-items:center;
    }

    .box{
        width:100%;
    }
}
